.label {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6a6e72;

  &__requred {
    @extend .label;

    &::before {
      content: "✱ ";
      color: #d90000;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.grid {
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    display: block;
  }
}

.item {
  border: 2px solid #d6dade;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  justify-content: center;

  &__small {
    @extend .item;
    height: 56px;
    width: 362px;

    @media (max-width: 800px) {
      width: auto;
    }
  }

  &__large {
    @extend .item;
    height: 56px;
    width: 558px;
    background-repeat: no-repeat;
    background-position: right 14px center;

    @media (max-width: 800px) {
      width: auto;
    }

    &__homepage {
      @extend .item__large;
      background-size: 18px;
      background-image: url("../../../public/images/homepage.svg");
    }

    &__select {
      @extend .item__large;
      background-size: 12px;
      background-image: url("../../../public/images/arr.svg");
    }

    &__vk {
      @extend .item__large;
      background-size: 19px;
      background-image: url("../../../public/images/vk.svg");
    }

    &__ok {
      @extend .item__large;
      background-size: 12px;
      background-image: url("../../../public/images/ok.svg");
    }

    &__facebook {
      @extend .item__large;
      background-size: 18px;
      background-image: url("../../../public/images/facebook.svg");
    }

    &__instagram {
      @extend .item__large;
      background-size: 18px;
      background-image: url("../../../public/images/insta.svg");
    }

    &__youtube {
      @extend .item__large;
      background-size: 18px;
      background-image: url("../../../public/images/youtube.svg");
    }
  }
}

.input {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0c1014;

  &__select {
    @extend .input;
    appearance: none;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__large {
    @extend .items;
    padding: 32px 0 50px 0;
  }
}

.submit {
  background: #e5266e;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  height: 48px;
  text-align: center;
  color: #ffffff;
}

.reset {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0848c0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.file {
  width: 163px;
  height: 183px;
  opacity: 0;
  z-index: 4;
  margin-top: 7px;

  @media (max-width: 800px) {
    width: 100px;
    height: 120px;
  }
}

.logotype {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 800px) {
    margin: 32px auto 0 auto;
    width: max-content;
  }

  &__picture {
    position: absolute;
    top: 30px;

    @media (max-width: 800px) {
      width: 100px;
      height: 100px;
    }
  }

  &__close {
    position: absolute;
    z-index: 5;
    top: 40px;
    right: 0;

    @media (max-width: 800px) {
      width: 25px;
      height: 25px;
    }
  }

  &__title {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18.6667px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;

    @media (max-width: 800px) {
      font-size: 12px;
      line-height: 11px;
    }
  }

  &__icon {
    @media (max-width: 800px) {
      width: 15px;
      height: 15px;
    }
  }
}

.take {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;

  @media (max-width: 800px) {
    height: 160px;
  }
}

.invalid {
  background: #fff;
  border: 1px solid #e5266e;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  height: 48px;
  text-align: center;
  color: #e5266e;
  pointer-events: none;
}

.message {
  position: fixed;
  padding: 10px 30px;
  top: 40px;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #1314128d;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  min-width: 300px;
  text-align: center;
}
