.container {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.42);
  padding: 110px 0 300px 0;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 50px 0;
  }
}

.content {
  background: #ffffff;
  border-radius: 12px;
  height: 1248px;
  width: 754px;
  padding: 53px 97px;
  margin: 0 auto;

  @media (max-width: 800px) {
    width: auto;
    height: auto;
    padding: 25px 45px;
  }

  @media (max-width: 500px) {
    width: auto;
    height: auto;
    padding: 25px 25px;
    margin: 0 15px;
  }
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #0c1014;

  @media (max-width: 800px) {
    font-size: 23px;
    text-align: center;
  }
}
